[submodule "external/p99"]
	path = external/p99
	url = https://gitlab.inria.fr/gustedt/p99.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
